DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMDFKWFgyS1BZOUI2MUIzQTdUVEhUQ0RHNVYiLCJ0ZW5hbnRfaWQiOiJlZjljYmRjMTk3NzU1MTRlZjFmNTU2NTJjZGIwNDcyMzczMWQyNGNmZDcwNTRhM2U4MzI0OWY0ODMxNzAzM2RiIiwiaW50ZXJuYWxfc2VjcmV0IjoiNzZjNTYwODktMTg3MS00NjA4LWE5MTEtYzFkZmM5ODg0ZjA0In0.HJNTco3l6O30ahSl5YVSOWBK0ZHsmaXgxzE6o9jNdiA";